<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>E-Mail</th>
        <th>Telefone</th>
        <th>Rua</th>
        <th>Numero</th>
        <th>Bairro</th>
        <th>CEP</th>
        <th>Cidade</th>
        <th>UF</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let cliente of filtrarClientes()">
        <th>{{cliente.id}}</th>       
        <th>{{cliente.nome}}</th>  
        <th>{{cliente.cpf}}</th>  
        <th>{{cliente.email}}</th>  
        <th>{{cliente.telefone}}</th>  
        <th>{{cliente.endereco.rua}}</th>  
        <th>{{cliente.endereco.numero}}</th>  
        <th>{{cliente.endereco.bairro}}</th>  
        <th>{{cliente.endereco.cep}}</th>  
        <th>{{cliente.endereco.cidade.nomeCidade}}</th>
        <th>{{cliente.endereco.cidade.uf}}</th>     
      </tr>
    </tbody>
  </table>
</div>
